@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--background: 0 46% 98%;
		--foreground: 0 60% 3%;
		--muted: 0 40% 95%;
		--muted-foreground: 0 14% 39%;
		--popover: 0 46% 98%;
		--popover-foreground: 0 60% 3%;
		--card: 0 46% 98%;
		--card-foreground: 0 60% 3%;
		--border: 0 4% 92%;
		--input: 0 4% 92%;
		--primary: 0 47% 41%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 18% 89%;
		--secondary-foreground: 0 18% 29%;
		--accent: 0 26% 83%;
		--accent-foreground: 0 26% 23%;
		--destructive: 19 84% 23%;
		--destructive-foreground: 19 84% 83%;
		--ring: 0 47% 41%;
		--chart-1: 0 47% 41%;
		--chart-2: 0 18% 89%;
		--chart-3: 0 26% 83%;
		--chart-4: 0 18% 92%;
		--chart-5: 0 50% 41%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 56% 0%;
		--foreground: 0 39% 100%;
		--muted: 0 40% 5%;
		--muted-foreground: 0 14% 61%;
		--popover: 0 56% 0%;
		--popover-foreground: 0 39% 100%;
		--card: 0 56% 0%;
		--card-foreground: 0 39% 100%;
		--border: 0 4% 15%;
		--input: 0 4% 15%;
		--primary: 0 47% 41%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 1% 17%;
		--secondary-foreground: 0 1% 77%;
		--accent: 0 10% 23%;
		--accent-foreground: 0 10% 83%;
		--destructive: 19 84% 49%;
		--destructive-foreground: 0 0% 100%;
		--ring: 0 47% 41%;
		--chart-1: 0 47% 41%;
		--chart-2: 0 1% 17%;
		--chart-3: 0 10% 23%;
		--chart-4: 0 1% 20%;
		--chart-5: 0 50% 41%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}



@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}
